
<ion-content [fullscreen]="true">
  <div align="center">
    <!-- <ion-img src="../../assets/images/musiclogo.png"></ion-img> -->
    <h1 style="color: white;">Zoo Music </h1>
  </div>
  

<ion-grid>
    <p align="center">
    <ion-label class="ion-text-center">
     <strong>Welcome To Music App</strong>
    </ion-label>
  </p>
  <ion-row>
    <ion-col>
      <ion-button routerLink="/auth/sign-in" size="large" expand="block" shape="round"><ion-text>Sign In</ion-text></ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="light" routerLink="/auth/sign-up" size="large" expand="block" shape="round"><ion-text>Sign Up</ion-text></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
